*/#*
\#*#
*/*~
*~
*.pdf
exozippy/__pycache__
EXOZIPPy.egg-info
.idea/
*.egg
.DS_Store
/sandbox/
/DC18Test/temp_output/
/exozippy/mmexofast/htmlcov/
/exozippy/mmexofast/.coverage
/exozippy/mmexofast/.coveragerc
__pycache__/
*.pyc
*settings.json
/scripts/repo_dump.txt
/repo_dump.txt
